# Chat Configuration
VITE_CHAT_WELCOME_TITLE="Halo semangat"
VITE_CHAT_WELCOME_SUBTITLE="tanyakan sql aja"
VITE_CHAT_START_MESSAGE="maaf ai nya masih belajar"

# API Configuration
# Ganti dengan IP server Anda, contoh:
# VITE_API_BASE_URL=http://192.168.1.100:8097
# VITE_API_BASE_URL=http://10.0.0.50:8097
VITE_API_BASE_URL=http://localhost:8097

